#search-products {
    width: 100%;
}

#quick-search {
    text-align: center;
}

#quick-search button {
    padding: 6.5px;
    font-size: 9pt;
    margin-right: 0;
    margin-left: 0;
}

#products-list,
#msdl-ms-content,
#msdl-please-wait,
#msdl-processing-error,
#back-to-products,
#use-shared-session {
    display: none;
}
/* style.css */
body {
    background-color: #f8f9fa; /* Light background for a modern look */
}

footer {
    padding: 20px 0;
}
.button {
    padding: 12px 24px; /* Larger padding */
    font-size: 16px; /* Bigger text */
}

.link {
    padding: 12px 0; /* Vertical padding */
    font-size: 16px; /* Bigger text */
}
